.banner{
    height: auto;
    background-image: url("../images/banner1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0%;
    padding: 7%;
}   
.grabber{
    text-align: right;
    font-size: 65;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 300px;
    
}
.grabber-description{
    text-align: right;
    font-size: 10;
    color: #444343 ;
    font-family: sans-serif ;
    padding-left: 400px;
}
.btn1{
    
    text-align:right; 
}
.btn2{
    border: 0px;
    color: white;
    font-weight: 700;
    height: 64px;
    width: 160px;
    border-radius: 5px;
    background-color: #F15B22;
    margin-left: 75%;
}

/* content Section 1 Styles */
.cs1{
  display: flex;  
}
.img-person{
    width: 569px;
    height: 723.3px;
    background-color: bisque;
    border-radius:50%;
    background-position:50%;
}
.content-text1{
    text-align: left;
    padding: 10%;
}

.grabber2{
    
    width: 288px;
    height: 94px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    
    color: #151414;
}

.grabber-description2{
    
    width: 416px;
    height: 104px;
    

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;


    color: #444343;

}
.grabber-item{
    width: 206px;
    height: 26px;
    

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;


    color: #444343;
    }

.grabber-item li::marker {
        content: '✓';
        color: green;
        font-weight: 500;
      }

      /* Content Section 2 Styles */
.grabber3{
    text-align: center;

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;

    color: #151414;

}
.cs2{
    text-align: center;
}

.plan-detail{
    display: flex;
    justify-content: space-around;
}

.plan-title{
    text-align: center;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;';
    font-style: normal;

}

.plan-description{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

    color: #737272;

}

/* My Sections Styles */

.own-section{
    text-align: center;
    background: linear-gradient(to top, rgba(230, 84, 0, 0.948),rgba(245, 246, 252, 0.52));
}

.checklist{
    display: flex;
    text-align: center;
    justify-content: space-around;
}
.checklist-grabber{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #151414;
}
.month{
    color: #F15B22;
}

.checklist-done{
    text-align: left;
    font-weight: 400;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;';
    font-style: normal;
}
.checklist-button{
    text-align: center;
    color: #F15B22;
    border: none;
    width: 160px;
    height: 64px;
    left: 294px;
    top: 2399.26px;
    background-color: #FFFFFF;
    border-radius: 5px;

}

/* content section 3 */

.quote{
    text-align: center;
    background-image:linear-gradient(to left, rgba(245, 246, 252, 0.52), rgba(230, 84, 0, 0.948)),
    url('../images/watch.png');
    background-repeat: no-repeat;
    background-position: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    padding: 5%;
    border-radius: 8px;
    background-size: 1100px 300px;
}

.call-button{
    text-align: center;
    color: #F15B22;
    border: none;
    width: 160px;
    height: 64px;
    left: 294px;
    top: 2399.26px;
    background-color: #FFFFFF;
    border-radius: 5px;

}

/* Footer Styles */
.footer{
    display: flex;
    color: #FFFFFF;
    background-color: #151414;
    background-size: cover;
    justify-content: space-between;
    text-align: left;
}
.contract-info{
    padding: 5% 15%;
}

.footer-detail{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 16px;


}

.subscribe{
    padding: 5% 15%;
    justify-content: space-around;
}
.subscribe-grabber{
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;

}
.social{
    display: flex;
    padding: 10px;
}
.subscribe-button{
    color: #F15B22;
    width: 170.11px;
    height: 64px;
    left: 1046px;
    top: 2922.26px;
    margin-top: 16px;

    background: #FFFFFF;
    border-radius: 8px;
    }
.form{
    width: 325px;
    height: 64px;
    left: 1046px;
    top: 2842.26px;
    border: 1px;
    border-color: #FFFFFF;
    border-radius: 5px;
    color: #151414;
}

.tw{
    margin-left: 16px;
}

.yt{
    margin-left: 16px;
}
