.banner{
    height: auto;
    background-image: url("../images/banner1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0%;
    padding: 7%;
}   
.grabber{
    text-align: right;
    font-size: 65;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 300px;
    
}
.grabber-description{
    text-align: right;
    font-size: 10;
    color: #444343 ;
    font-family: sans-serif ;
    padding-left: 400px;
}
.btn1{
    
    text-align:right; 
}
.btn2{
    border: 0px;
    color: white;
    font-weight: 700;
    height: 64px;
    width: 160px;
    border-radius: 5px;
    background-color: #F15B22;
    margin-left: 75%;
}

/* content Section 1 Styles */
.cs1{
  display: flex;  
}
.img-person{
    width: 569px;
    height: 723.3px;

}
.content-text1{
    text-align: left;
    padding: 10%;
}

.grabber2{
    
    width: 288px;
    height: 94px;
    
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    
    color: #151414;
}

.grabber-description2{
    
    width: 416px;
    height: 104px;
    

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;


    color: #444343;

}
.grabber-item{
    width: 206px;
    height: 26px;
    

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;


    color: #444343;
    }

ul li::marker {
        content: '✓';
        color: green;
        font-weight: 500;
      }